<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<header>
    <a href="../index.html" class="logo">
        <img src="../img/logo.png" alt="logo">
    </a>
    <nav>
        <ul class="nav_links">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="project.html">Projet</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="game.html">Jeu</a></li>
        </ul>
    </nav>
    <a class="cta" href="account.html"><button>Mon compte</button></a>
</header>

<h1>account page </h1>
</body>
</html>