<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<header>
    <a href="../index.html" class="logo">
        <img src="../img/logo.png" alt="logo" >
    </a>
    <nav>
        <ul class="nav_links">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="project.html">Projet</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="game.html">Jeu</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Mon compte</button></a>
</header>

<div class="contact">
    <h2>Moyens de contact</h2>
    <div class="mail">
        <h3>Lucas HEIDET</h3> <br>
        Mail : lucas.heidet@edu.univ-fcomte.fr
    </div>
    <div class="mail">
        <h3>Hugues POURCHET</h3> <br>
        Mail : hugues.pourchet@edu.univ-fcomte.fr
    </div >
    <div class="mail">
        <h3>Benjamin RODOT</h3> <br>
        Mail : benjamin.rodot@edu.univ-fcomte.fr
    </div>
    <div class="mail">
        <h3>Paul WUST</h3> <br>
        Mail : paul.wust@edu.univ-fcomte.fr
    </div>
</div>
</body>
</html>