<!--todo: régler problème avec playerCommandPanel -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Jeu</title>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <header>
            <a href="../index.html" class="logo">
                <img src="../img/logo.png" alt="logo" >
            </a>
            <nav>
                <ul class="nav_links">
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="project.html">Projet</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="game.html">Jeu</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Mon compte</button></a>
        </header>
        <div id="gamePanel">
            <div class="scoreBoard">
                <div>LvL 1 : Tutoriel</div>
                <div>Score : 0 </div>
                <div></div>
            </div>
            <div id="test">
                <div id="board">
                    <div class="container">
                        <canvas id="canvaMap"></canvas>
                        <div id="actions" class="containerTxt"></div>
                    </div>
                    <div id="buttons">
                        <button id="gauche" class="buttonDraggable" draggable="true" ondragstart="onDragStart(event);">Gauche</button>
                        <button id="avancer" class="buttonDraggable" draggable="true" ondragstart="onDragStart(event);">Avancer</button>
                        <button id="haut" class="buttonDraggable" draggable="true" ondragstart="onDragStart(event);">Haut</button>
                        <button id="droite" class="buttonDraggable" draggable="true" ondragstart="onDragStart(event);">Droite</button>
                        <button id="execute">Executer</button>
                    </div>
                    <script type="module" src="../index.js"></script>
                </div>
                <button class="gameBut" onclick="execute()" >Executer</button>
                <button class="gameBut" onclick="clear()">clear</button>
                <div id="playerCommandPanel" class="playerCmdPanel" ondragover="onDragOver(event)" ondrop="onDrop(event);">
                </div>
            </div>

        </div>
        <script type="text/javascript" src="../models/Blocs.js"></script>
        <script type="text/javascript" src="../controllers/DragNDrop.js"></script>
    </body>
</html>