<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Jeu</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<header>
    <a href="../index.html" class="logo">
        <img src="../img/logo.png" alt="logo" >
    </a>
    <nav>
        <ul class="nav_links">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="project.html">Projet</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="game.html">Jeu</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Mon compte</button></a>
</header>

<div class="containerPage" align="center">
    <h2>Nous sommes 4 étudiants en informatique : </h2>
    <br>
    <ul>
        <ol>Lucas HEIDET</ol>
        <ol>Hugues POURCHET</ol>
        <ol>Benjamin RODOT</ol>
        <ol>Paul WUST</ol>
    </ul>
    <br>
    <p>
        <em> Ce projet s'inscrit dans le cadre de nos études, dans l'UE <strong>Projet Tuteuré</strong>.</em>
    </p>
</div>
<div align="center">
    <p>
        Nous avons suivi la méthode SCRUM qui est une méthode agile, en faisant des sprint de 2 semaines.
        <br>
        Notre tuteur pour ce projet était <strong>M. Ambert.</strong>
        <br>
        <br>
    </p>
</div>

</body>
</html>