<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PtutS3 Game</title>
    <style>
        #canvaMap{
            border: 1px solid black;
            background: #eee;
        }
    </style>
</head>
<body>
<canvas id="canvaMap" width="550" height="400"></canvas>
<div>
    <button id="gauche">Gauche</button>
    <button id="bas">Bas</button>
    <button id="haut">Haut</button>
    <button id="droite">Droite</button>
</div>
<script type="module" src="../index.js"></script>
</body>
</html>